<form method="post">
	<input name="value">

	<select name="input_rate">
		<option selected>Выберите величину</option>
		{% for el in list_measurements %}
			<option>{{ el }}</option>
		{% endfor %}	
	</select>

	<select name="output_rate">
		<option selected>Выберите величину</option>
		{% for el in list_measurements %}
			<option>{{ el }}</option>
		{% endfor %}	
	</select>


	<button type="submit">Перевести</button>
	<label>Результат: {{ result }}</label>
</form>

<a href="/">На главную</a>
<a href="/money">Перевод денег</a>