<form method="post">
	<input name="money">

	<select name="input_rate">
		<option selected>Выберите курс валюты</option>
		{% for el in list_exchange_rate %}
			<option>{{ el }}</option>
		{% endfor %}	
	</select>

	<select name="output_rate">
		<option selected>Выберите курс валюты</option>
		{% for el in list_exchange_rate %}
			<option>{{ el }}</option>
		{% endfor %}	
	</select>


	<button type="submit">Перевести</button>
	<label>Результат: {{ result }}</label>
</form>

<a href="/">На главную</a>
<a href="/cu">Перевод СИ</a>